/**** NAV ****/
.Nav {
    background-color: #455a64;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.Nav__menu {
    font-size: 1.5rem;
    cursor: pointer;
}

.Nav__add a {
    display: block;
    color: inherit;
    background-color: #536dfe;
}

.Nav__desktop {
    display: none;
}

.Nav__mobile-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    top: 56px;
    left: -768px;
    background: #cfd8dc;
    font-size: 1.5rem;
    transition: all .3s;
}

.Nav__mobile-list--active {
    left: 0;
}

.Nav__mobile-list a {
    display: block;
    color: #000 !important;
    font-weight: bold;
    padding: 15px;
    border-bottom: 2px solid #000;
}

.Nav__mobile-list a:hover {
    text-decoration: none;
}

@media (min-width: 768px) {
    .Nav__menu {
        display: none;
    }
    .Nav__mobile-list {
        display: none;
    }
    .Nav__desktop {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        width: 350px;
    }

    .Nav__desktop a {
        color: inherit;
        font-weight: bold;
    }

    .Nav__desktop a:hover {
        text-decoration: underline;
    }
}